.body {
    display: grid;
    grid-gap: 80px;
}

.elements_wrapper {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 20px;
    width: min-content;
}

.element {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 10px;
    white-space: nowrap;
    align-items: center;

    background: #282828;
    padding: 5px 15px;
    border-radius: 25px;
}

.wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 70px;
    align-items: center;
}

.content {
    display: grid;
    grid-gap: 20px;
}