.elements_wrapper {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 20px;
    width: min-content;
}

.element {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 10px;
    white-space: nowrap;
    align-items: center;

    background: #282828;
    padding: 5px 15px;
    border-radius: 25px;
}