.wrapper {
    display: grid;
    grid-gap: 30px;
}

.grid {
    display: grid;
    grid-gap: 15px;
}

.box {
    padding: 20px;
    background-color: var(--theme-color-dark);
    border-radius: 20px;
    text-align: left;
    height: 100%;
}

.box > h1 {
    font-size: 60px;
}

.box > h4 {
    text-transform: uppercase;
}

#features {
    grid-template-columns: repeat(3, 1fr);
}

#header {
    grid-column: 1 / 4;
}

#footer {
    grid-template-columns: repeat(2, auto);
}

.price {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    place-items: center;
    text-align: left;
}

.box > hr {
    margin: 15px 0;
    border: 1px solid var(--theme-line-color);
}

.info_wrap {
    margin: 0 30px;
}

#footer > .box {
    display: grid;
    grid-template-rows: 1fr;
}