.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;

    overflow: hidden;
}

.box {
    padding: 20px;
    background-color: var(--theme-color-dark);
    border-radius: 20px;
    text-align: left;
}

.box > h1 {
    font-size: 60px;
}

#header {
    grid-column: 1 / 4;
}
