.link, .active {
    padding: 10px 20px;
    border-radius: 20px;
    background: var(--theme-color-main);
    text-decoration: none;
    color: white;
}

.active {
    background: white;
    color: black;
}