.wrapper {
    display: grid;
    grid-gap: 20px;
}

.element {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 30px;
    align-items: center;

    background: var(--theme-color-dark);
    padding: 10px;
    border-radius: 8px;
}

.avatar {
    border-radius: 50%;
    height: 100px;
}

.rich_element {
    background: #171717;
    padding: 20px;
    border-radius: 10px;
}