.header {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    grid-gap: 20px;
    padding: 25px 60px;

    color: white;
    background: var(--theme-background-main);

    white-space: nowrap;
}

.header > h1 {
    font-size: 40px;
}