.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-gap: 30px;
}

.element {
    text-align: center;
}

.avatar {
    border-radius: 50%;
    height: 100px;
}