.wrapper {
    display: grid;
    grid-template-columns: 40% 1fr;
    grid-gap: 100px;

    background: #2a2a2a;
    padding: 60px;
    border-radius: 15px;
}

.text_wrap {
    display: grid;
    grid-gap: 30px;
}