@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Roboto:ital,wght@1,900&display=swap');

@font-face {
  font-family: 'GintoNord';
  src: local('GintoNord'), url('media/fonts/ginto_nord.ttf') format('ttf');
}

@font-face {
  font-family: 'SF-Pro-Display-Bold';
  src: local('SF-Pro-Display-Bold'), url('media/fonts/SF-Pro-Display-Bold.otf') format('otf');
}

:root {
  --balloon1-bg-color: rgba(38, 38, 38, 0.9);
  --balloon2-bg-color: rgba(35, 35, 35, 0.9);
  --balloon3-bg-color: rgba(40, 40, 40, 0.89);
  --balloon4-bg-color: rgba(47, 47, 47, 0.84);
  --balloon5-bg-color: rgba(37, 37, 37, 0.9);
  --bg-color: #c0d6df;

  --balloon-anim-1: balloon1 15s ease infinite;
  --balloon-anim-2: balloon2 5s ease infinite;
  --balloon-anim-3: balloon3 10s ease infinite;
  --balloon-anim-4: balloon4 5s ease infinite;
  --balloon-anim-5: balloon5 15s ease infinite;
  --balloon-anim-6: balloon6 5s ease infinite;
}

body {
  margin: 0;
  overflow-y: scroll;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: 'SF-Pro-Display-Bold', sans-serif;

  --theme-gradient: linear-gradient(45deg, #8defd5, #68f57f);
  --theme-background-main: #0c0c0c;
  --theme-color-light: #343434;
  --theme-color-dark: #131313;

  --theme-color-main: #4df3a4;
  --theme-line-color: rgba(255, 255, 255, 0.10);

  --container-padding: 60px;
  --border-radius: 15px;
  --max-width: 1500px;

  background: var(--theme-background-main);

  -webkit-animation: gradientBackground 18s ease infinite;
  -moz-animation: gradientBackground 18s ease infinite;
  animation: gradientBackground 18s ease infinite, fadeBackground 1.5s ease;
}

* {
  margin: 0;
  height: min-content;
  box-sizing: border-box;

  -webkit-user-drag: none;
}

.app {
  height: 100vh;

  display: grid;

  grid-template-rows: auto 1fr auto;
}

.container {
  margin: 0 auto;
  max-width: var(--max-width);
  padding: var(--container-padding);
}

h1 {
  background-image: var(--theme-gradient);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;

  font-size: 80px;
}

h2, h3, h4, h5, p {
  color: white;
}

p {
  font-size: 20px;
}

h5 {
  font-size: 30px;
}

a {
  color: var(--theme-color-main);
  text-decoration: none;
}

.avatar {
  border-radius: 50%;
}

i {
  color: white;
}

.main_btn {
  padding: 10px 30px;
  border-radius: 50px;
  background: white;
  color: var(--theme-color-dark);
}

.inline_grid {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 10px;
  width: min-content;
}

hr {
  border: 1px solid var(--theme-line-color);
}




::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: none;
  margin: 40px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--theme-color-light);
  border-radius: 10px;
}

::selection {
  background: var(--theme-color-main);
  -webkit-text-fill-color: var(--theme-color-dark);
}



@keyframes fadeBackground {
  0% {
    opacity: 0%;
  }
  20% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@-webkit-keyframes gradientBackground {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes gradientBackground {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes gradientBackground {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

.background {
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  height: 100%;
}

@keyframes fadeInAnimation {
  50% {
    filter: blur(40px);
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
  }
}