@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Roboto:ital,wght@1,900&display=swap');

@font-face {
  font-family: 'GintoNord';
  src: local('GintoNord'), url('media/fonts/ginto_nord.ttf') format('ttf');
}

@font-face {
  font-family: 'SF-Pro-Display-Bold';
  src: local('SF-Pro-Display-Bold'), url('media/fonts/SF-Pro-Display-Bold.otf') format('otf');
}

:root {
  --balloon1-bg-color: rgba(38, 38, 38, 0.9);
  --balloon2-bg-color: rgba(35, 35, 35, 0.9);
  --balloon3-bg-color: rgba(40, 40, 40, 0.89);
  --balloon4-bg-color: rgba(47, 47, 47, 0.84);
  --balloon5-bg-color: rgba(37, 37, 37, 0.9);
  --bg-color: #c0d6df;

  --balloon-anim-1: balloon1 15s ease infinite;
  --balloon-anim-2: balloon2 5s ease infinite;
  --balloon-anim-3: balloon3 10s ease infinite;
  --balloon-anim-4: balloon4 5s ease infinite;
  --balloon-anim-5: balloon5 15s ease infinite;
  --balloon-anim-6: balloon6 5s ease infinite;
}

body {
  margin: 0;
  overflow-y: scroll;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: 'SF-Pro-Display-Bold', sans-serif;

  --theme-gradient: linear-gradient(45deg, #8bf1e4, #4c98dc);
  --theme-background-main: black;
  --theme-color-dark: #0e0e0e;

  --theme-color-main: #3797d7;

  --border-radius: 15px;
  --max-width: 1500px;

  background: var(--theme-background-main);
}

* {
  margin: 0;
  height: min-content;
}

.app {
  height: 100vh;

  display: grid;
  grid-gap: 60px;

  grid-template-rows: auto 1fr auto;
}

.container {
  margin: 0 auto;
  max-width: var(--max-width);
  padding: 20px 0;
}

h1 {
  background-image: var(--theme-gradient);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;

  font-size: 80px;
}

h2, h3, h4, p {
  color: white;
}

p {
  font-size: 20px;
}

a {
  color: #37c9ce;
  text-decoration: none;
}

.avatar {
  border-radius: 50%;
}

i {
  color: white;
}