@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Roboto:ital,wght@1,900&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: 'Questrial', sans-serif;

  --theme-background-main: #0e0e0e;

  background: var(--theme-background-main);
}

.app {
  margin: 0 auto;
  max-width: 1800px;
}

h1 {
  font-size: 72px;
  background: -webkit-linear-gradient(#c6f349, #7ae03f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2, h3, h4, p {
  color: white;
}